<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/<%= locals.style %>.css">
	<% if (locals.style) { %>
		<link rel="stylesheet" href="/<%= style %>.css">
	<% } %>
	<title><%= title %></title>
</head>
<body>
<nav class="navigation">
	<h1>Transcendence</h1>
	<ul>
		<li><a href="/user/signup">Signup</a></li>
		<li><a href="/user/login">Login</a></li>
		<li><form action="/user/logout" method="post">
			<button type="submit">Logout</button>
		</form></li>
	</ul>
</nav>
